.img-preview{
    width: 200px;
    height:200px;
    background: center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 5px solid rgb(224, 219, 219)
}
.img-container{
    display: flex;
    justify-content: flex-end;
    
}
.cust-mar{
    margin-right: 5px;
}
@media screen and (max-width: 500px) {
    .img-preview{
        width: 127px;
        height:127px;
        
    }
    .cust-mar{
        margin-top: 5px;
    }
}