.img-preview{
    width: 200px;
    height:200px;
    background: center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 5px solid rgb(224, 219, 219)
}
.img-container{
    display: flex;
    justify-content: flex-end;
    
}
.fs-xm-app{
    
        font-size: 13px !important;
}