<div class="row">
    <div class="col-12">              
        <div class="card shadow-sm my-4 p-2">
            <div class="card-title text-center">
                <h5 class=" mt-3">Profile Picture</h5>
               
            </div>
            <div class="card-body">
                
                <form [formGroup]="profileUploadForm">

                    <div class="row">
                            <div class="col-6 img-container">
                                <div class="img-preview img-fluid" id="imagePreview" 
                                [style.backgroundImage]="'url('+ imageUrl +')'"></div>
                                
                            </div>
        
                            <!-- Upload image -->
                            <div class="col-6">
                                <p>Edit Profile Picture</p>
                                <p class="text-muted fs-xm-app">At least 500 x 500 pixels</p>
                                <p class="text-muted fs-xm-app">JPG, JPEG and PNG formats only</p>
                                <p class="text-muted fs-xm-app">Maximum size of 2MB</p>
                                <div class="">
                                    <input hidden type='file' id="imageUpload"
                                     accept=".png, .jpg, .jpeg" #fileInput formControlName="file"
                                     (change)="uploadFile($event)" />
                                </div>
                                <button class="btn btn-app cust-mar" (click)="fileInput.click()">Browse Image</button>
                                <button class="btn btn-app cust-mar" [disabled]="this.profileUploadForm.invalid" (click)="savePicture()">Upload</button>
                            </div>
                               <!-- Submit Button -->
                       
                    </div>
                </form><!-- Form ends -->
            </div>
        </div>
    </div>
</div>