

.nav-item a {
        color: black;
        font-size: large;
        font-weight: 400;
    }

    .btn-outline-info{
        border-color: #ff9b1f !important;
        color: #ff9b1f !important;

    }
    