.footer-container{
 background-color: #f5f5f56e;
 padding: 50px 0;   
}
h2,h3{
    color:white;
}
h2{
    font-size: 16px;
    color: rgb(39, 37, 37);
}
p{
    color: rgb(39, 37, 37);
    line-height: 20px;
    font-size: 11px;
}
.segment-one p{
    letter-spacing: 1px;
}
.segment-two ul{
    padding-left: 2px;
}
.segment-two ul{
   list-style: none;
   line-height:43px;
}
.segment-two ul li a{
    text-decoration: none;
}
.segment-three p{
    letter-spacing: 1px;
}
 a i{
     font-size: 40px;
     color: #ff9005 !important;
 }
