<footer>
   <div class="footer-container mt-2">
       <div class="container">
           <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                <h2>
                    Organic farm
                </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two fs-xm-app">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                <h2>Follow Us</h2>
                <p>Please follow us on social media profiles in order to keep updated.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    </p>
                    <a href="" class="p-2"><i class="bi bi-facebook"></i></a>
                    <a href="" class="p-2"><i class="bi bi-twitter "></i></a>
                    <a href="" class="p-2"><i class="bi bi-instagram"></i></a>
            </div>
           
           <div class="col-md-3 col-sm-6 col-xs-12 segment-four text-center">
            <h2>Contact Us</h2>
            <p>Address - Manama, Bahrain
                </p>
                
            </div>
       </div>
        <div class="row text-center mt-3 fs-xm-app">
            <p>Copyright &copy; 2017 &mdash; Your Company </p>
        </div>
       </div>
   </div>
</footer>