    <div class="container">
        <div class="confirm-box">
        <div class="row ">
            <div class="col-12 box box-border text-center">
                <p class="p-3 mt-4 success-text">
                    Thats it. We only required this much details to get you started. 
                    We will review your details and approve your teaching profile within 48 hours.
                    Please note that in case your details does not match with the provided documents, it will be rejected.
                </p>
            </div>
        </div>
    </div>
    </div>
