<div class="container">
    <form class="" [formGroup]="teacherProfForm" novalidate (ngSubmit)="submitProfileInfo()">
        <div class="row">
            <div class="col-12">              
                <p class="text-center fs-5 mt-3">Teacher Profile</p>
                <hr style="padding-bottom: 3px;">
                <div class="card shadow-sm my-4 p-2">
                    <div class="card-title text-center">
                        <h5 class=" mt-3"> Teaching Subjects</h5>
                        <span class="text-muted text-center fs-xm-app">
                            Note: Make sure you only add those subjects and topics are you 100% capable of teaching. Your application will be accepted based on supporting documents that you upload for added subjects. </span>
                    </div>
                    <div class="card-body">
                      
                            <div class="row">
                                
                                    <div class="col-12 mt-4">
                                        Subjects and Topics <span class="text-muted fs-xm-app">
                                            Note: You can add atmost 5 subjects or topics</span>
                                    </div>
    
                                    <div class="col-12" >
                                        <div class="row" >
                                            <div class="col-12 col-sm-5 mt-4">
                                                <div class="form-group" >
                                                    <label for="lang" >Subject or Topic</label>
                                                    <select id="lang" class="form-control form-select-sm " formControlName="defSubjectName"
                                                            aria-label="Default select example">
                                                            <option selected value="0">Select</option>
                                                    <option *ngFor="let sub of subList" [value]="sub.code">{{sub.name}}</option>
                                                    </select>                     
                                                </div>
                                                
                                            </div>
                                            <div class="col-12 col-sm-5 mt-4">
                                                <div class="form-group">
                                                    <label for="level" >level</label>
                                                    <select id="level" class="form-control form-select-sm " formControlName="defLevel"
                                                            aria-label="Default select example">
                                                            <option selected value="0">Select</option>
                                                    <option value="P5">Primary - class 5</option>
                                                    <option value="C6TO8">Class 6 - Class 8</option>
                                                    <option value="C9TO10">Class 9 - Class 10</option>
                                                    <option value="MUM">Class 10 - Class 12</option>
                                                    <option value="MUM">High School</option>
                                                    <option value="MUM">Intermediate</option>
                                                    <option value="MUM">University 1st Year</option>
                                                    <option value="MUM">University 2nd Year</option>
                                                    <option value="MUM">University 3rd Year</option>
                                                    <option value="MUM">University 4th Year</option>
                                                    <option value="MUM">Post Graduation</option>
                                                    <option value="MUM">Diploma</option>
                                                    </select>
                                                                    
                                                 </div>  
                                            </div>
                                        </div>
                                    
                                    </div> 
    
    
                                    <div class="col-12 mt-1" formArrayName="subjects">
                                        
                                        <div class="row" *ngFor="let lang of subjects.controls; let i=index" [formGroupName]="i">
                                            <div class="col-12 col-sm-5 mt-3">
                                                <div class="form-group" >
                                                    <label for="sub-{{i}}" >Subjects or Topics</label>
                                                    <select id="sub-{{i}}" class="form-control form-select-sm " formControlName="subjectName"
                                                            aria-label="Default select example">
                                                            <option selected value="0">Select</option>
                                                            <option *ngFor="let sub of subList" [value]="sub.code">{{sub.name}}</option>
                                                    </select>                     
                                                </div>
                                                
                                            </div>
                                            <div class="col-9 col-sm-5 mt-3">
                                                <div class="form-group">
                                                    <label for="level-{{i}}" >level</label>
                                                    <select id="level-{{i}}" class="form-control form-select-sm " formControlName="level"
                                                            aria-label="Default select example">
                                                            <option selected value="0">Select</option>
                                                            <option value="P5">Primary - class 5</option>
                                                            <option value="C6TO8">Class 6 - Class 8</option>
                                                            <option value="C9TO10">Class 9 - Class 10</option>
                                                            <option value="MUM">Class 10 - Class 12</option>
                                                            <option value="MUM">High School</option>
                                                            <option value="MUM">Intermediate</option>
                                                            <option value="MUM">University 1st Year</option>
                                                            <option value="MUM">University 2nd Year</option>
                                                            <option value="MUM">University 3rd Year</option>
                                                            <option value="MUM">University 4th Year</option>
                                                            <option value="MUM">Post Graduation</option>
                                                            <option value="MUM">Diploma</option>
                                                    </select>
                                                                    
                                                 </div>  
                                            </div>
                                            <div class="col-1 mt-3">
                                                <br>
                                                <h1>
                                                    <a (click)="removeSubject(i)" >
                                                        <i class="bi bi-x text-danger"></i>
                                                    </a>
                                                </h1>
                                            </div>
                                        </div>
    
                                        <button type="button" class="btn btn-sm btn-app" (click)="addSubject('','')">Add</button>
                                    </div> 
                                   
                                
                            </div>
                       
                    </div>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12"> 
                <div class="card shadow-sm my-4 p-2">
                    <div class="card-title text-center">
                        <h5 class=" mt-3"> Teaching Rate</h5>
                       <span class="text-muted text-center fs-xm-app">
                            Tell us how much you charge for a class on a hourly basis</span>
                    </div>
                    <div class="card-body">
                            <div class="row">     
                                    <div class="col-12 mt-1">
                                        <label>Hourly Rate </label> <span class="text-muted fs-xm-app">
                                            Note: Enter amount as per Indian Rupee</span>
                                    </div>
    
                                    <div class="col-12" >  
                                                  <div class="form-group" >
                                                    <input type="text" id="rate" 
                                                    class="form-control form-control-sm" formControlName="hourlyRate">                  
                                                    </div>
                                    </div> 
                            </div>
                       
                    </div>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">              
                 <div class="card shadow-sm my-4 p-2">
                    <div class="card-title text-center">
                        <h5 class=" mt-3"> Tell us something about yourself</h5>
                        <span class="text-muted text-center fs-xm-app">
                            Note: This information will be shown to students when they will view your profile for booking. </span>
                    </div>
                    <div class="card-body">
                      
                            <div class="row">
                                
                                    <div class="col-12 mt-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">About Me</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="aboutMe" rows="3"></textarea>
                                            <span class="text-muted" style="font-size: x-small; float: right">Max characters - 1000</span>  
                                        </div>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Teaching Experience and style</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="aboutTeachingExp" rows="3"></textarea>
                                            <span class="text-muted" style="font-size: x-small; float: right">Max characters - 1000</span>  
                                        </div>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Other Information (Optional)</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="otherInfo"  rows="3"></textarea>
                                            <span class="text-muted" style="font-size: x-small; float: right">Max characters - 1000</span>  
                                        </div>
                                    </div>
                                
                            </div>
                       
                    </div>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">              
                 <div class="card shadow-sm my-4 p-2">
                    <div class="card-title text-center">
                        <h5 class=" mt-3"> Education and Experience</h5>
                        <span class="text-muted text-center fs-xm-app">
                            Note: Please upload relevant documents showing your training or experience as a teacher.
                            Uploaded files are ONLY accessible to staff. </span>
                    </div>
                    <div class="card-body">
                      
                            <div class="row">
                                <div class="col-12 mt-4">
                                    Education
                                </div>
                                <div class="col-12 mt-3" formArrayName="educations">
                                        
                                        <div class="row" *ngFor="let lang of educations.controls; let i=index" [formGroupName]="i">
                                          
                                            <div class="col-9 col-sm-6">
                                              
                                                <p class="m-0"> <span class="fs-sm-app" >{{lang.value.educationFromYear}}</span>
                                                    <span class="fs-sm-app"> - {{lang.value.educationToYear}}</span></p>
                                                   <p class="m-0"><span class="fs-sm-app">{{lang.value.educationInstitute}}</span></p>
                                                   <p class="m-0"><span class="fs-sm-app">Degree: {{lang.value.educationDegree}}</span>
                                                    <span class="fs-sm-app mx-2">Major: {{lang.value.educationMajor}}</span></p>
                                                    <p *ngIf="lang.value.educationUploadStatus" class="m-0" class="text-capitalize text-success fw-bold">
                                                     <span class="fs-sm-app">Document Uploaded</span>
                                                </p>
                                                <p *ngIf="!lang.value.educationUploadStatus" class="m-0" class="text-capitalize text-success fw-bold"> 
                                                    <span class="fs-sm-app">Document Not Uploaded</span>
                                           </p>
                                               
                                                    
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <a><label><i class="bi bi-x text-danger fs-5"></i></label></a>
                                               
                                            </div>
                                            <hr>
                                        </div>

                                        <button type="button" class="btn btn-sm btn-app" 
                                        style="width: fit-content;" (click)="openEducationDialog()">
                                        Add</button>
                                </div>  
                                <div class="col-12 mt-4">
                                    Experience
                                </div>
                                <div class="col-12 mt-3" formArrayName="experiences">
                                        
                                        <div class="row" *ngFor="let lang of experiences.controls; let i=index" [formGroupName]="i">
                                          
                                            <div class="col-9 col-sm-6">
                                              
                                                <p class="m-0"> <span class="fs-sm-app" >{{lang.value.experienceFromYear}}</span>
                                                    <span class="fs-sm-app"> - {{lang.value.experienceToYear}}</span>
                                                </p>
                                                   <p class="m-0"><span class="fs-sm-app">{{lang.value.experienceCompany}}</span></p>
                                                   <p class="m-0"><span class="fs-sm-app">{{lang.value.experienceCity}}, {{lang.value.experienceState}}</span>
                                                    <span class="fs-sm-app mx-1">
                                                       {{lang.value.experienceCountry}}</span>
                                                    </p>
                                                 
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <a><label><i class="bi bi-x text-danger fs-5"></i></label></a>
                                               
                                            </div>
                                            <hr>
                                        </div>

                                        <button class="btn btn-sm btn-app"  type="button"
                                        style="width: fit-content;" (click)="openExperienceDialog()">
                                        Add</button>
                                </div> 
                                <div class="col-12 mt-4">
                                    Certificates
                                </div>
                                <div class="col-12 mt-3" formArrayName="certificates">
                                        
                                        <div class="row" *ngFor="let lang of certificates.controls; let i=index" [formGroupName]="i">
                                          
                                            <div class="col-9 col-sm-6">
                                              
                                                    <p class="m-0"> 
                                                    <span class="fs-sm-app" >{{lang.value.certificateYear}}</span>
                                                    </p>
                                                   <p class="m-0"><span class="fs-sm-app">{{lang.value.certificateName}}</span></p>
                                                   <p class="m-0"><span class="fs-sm-app">{{lang.value.certificateProvider}}</span></p>
                                                    <p *ngIf="lang.value.certificateUploadStatus" class="m-0" class="text-capitalize text-success fw-bold">
                                                     <span class="fs-sm-app">Document Uploaded</span>
                                                     </p>
                                                    <p *ngIf="!lang.value.certificateUploadStatus" class="m-0" class="text-capitalize text-success fw-bold"> 
                                                        <span class="fs-sm-app">Document Not Uploaded</span>
                                                    </p>                                            
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <a><label><i class="bi bi-x text-danger fs-5"></i></label></a>
                                               
                                            </div>
                                            <hr>
                                        </div>

                                        <button class="btn btn-sm btn-app"  type="button"
                                        style="width: fit-content;" (click)="openCertificateDialog()">
                                        Add</button>
                                </div>  
                            </div>
                    
                    </div>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <button class="btn btn-app" type="submit" style="width: fit-content;" >Save and Continue</button>
            </div>
        </div>
    </form>
</div>