
<div class="card" style="width: 18rem;border: 0.5px solid black;">
    <img src="{{product.image}}" class="card-img-top img-fluid">
    <div class="card-body text-center">
        <div class="card-title">
           {{product.title}}
        </div>
        <div class="card-text">
            {{product.category}}
        </div>
        <hr>
        <h2 class="mb-3"><span class="text-danger">{{product.price | currency:'INR'}}</span></h2 >
        <button class="btn btn-sm btn-primary" style="margin-right: 0.5rem !important;"><i class="bi bi-cart"> </i> Add to cart</button>
        <button class="btn btn-sm btn-warning mr-2" >Buy</button>
        <button (click)="toggleWishList()"
        class="btn btn-sm btn-light material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to wishlist" style="float:right">
             <i [ngClass]="{'bi':true, 'bi-heart':aWishList,'bi-heart-fill':rWishList, 'text-danger':true }" > </i></button>
    </div>
</div>


