/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    font-family: 'Poppins', sans-serif !important;
}
.nav-item a{
    font-size: large;
}

.btn-app{
    background-color: #ff9005 !important;
    border-radius: 2px;
    color: #ffff !important;
    width: fit-content;

}
.btn-app:hover{
    background-color: #d17400 !important;
}
.fs-xm-app{
    
    font-size: 13px !important;
}

.fs-xs-app{
    
    font-size: 11px !important;
}

.fs-sm-app{
    
    font-size: 12px !important;
}

.btn-app:active {
    background-color: #d17400 !important; ;
  }
    

.btn-app:focus
 {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ff9b1f !important;
    background-color: #ff9b1f !important; ;
  }

label{
    font-size: 13px !important;
}

option{
    font-size: 11px !important;
}

select{
    font-size: 13px !important;
}




@media screen and (max-width: 500px) {
	
.btn-app{
    background-color: #ff9005 !important;
    border-radius: 2px;
    font-size: xx-small;
    color: #ffff !important;
    width: fit-content;
}
.card-body{
    padding:0 !important;
}
form{
   margin: 0 !important; 
}
}