
<div class="banner-container">
    
<div class="row" style="height: 100%;">
    <div class="col-xs-12 col-sm-12 col-md-6 banner-sec1">
        <h1 class="banner-title">
            Welcome to tutors factory.
        </h1>
        <p>Choose from over 15,000 teachers for 1-on-1 lessons based on your goals and interests</p>
        <a class="btn btn-app-home" style="border-radius: 20px !important;" 
        [routerLink]="['/tutor/search']">FIND A TUTOR</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 banner-sec2">
            <img src="assets/images/banner_image2.png" alt="">
        </div>
</div>
</div>